
.logo{
    position: fixed;
    left:20px;
    width: 100px;
    height: 70px;
}

.avatar{
    position: fixed;
    right: 20px;
    width:30px;
    margin-top: 20px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    z-index: 1;
   
    
}